{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h2 class="mb-4">Register</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.height_cm.label }}
        {{ form.height_cm(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.birth_date.label }}
        {{ form.birth_date(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}

</form>

{% endblock %}