{% extends "base.html" %}

{% block title %}
Workouts
{% endblock %}

{% block content %}

<h2>Add Workout</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.date.label }}
        {{ form.date(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.workout_type.label }}
        {{ form.workout_type(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.duration_min.label }}
        {{ form.duration_min(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.notes.label }}
        {{ form.notes(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-success") }}

</form>

<form method="GET" class="mb-3">
    <div class="input-group">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search by workout type..."
            value="{{ search }}"
        >

        <button class="btn btn-primary" type="submit">
            Search
        </button>

        <a href="{{ url_for('workout.workouts') }}" class="btn btn-secondary">
            Clear
        </a>

    </div>
</form>

<hr>

<h3>Your Workouts</h3>

{% if workouts %}

<table class="table table-striped">

    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    {% for workout in workouts %}

        <tr>
    <td>{{ workout.date }}</td>
    <td>{{ workout.workout_type }}</td>
    <td>{{ workout.duration_min }} min</td>
    <td>{{ workout.notes }}</td>

    <td>
        <a href="{{ url_for('workout.edit_workout', workout_id=workout.id) }}"
           class="btn btn-warning btn-sm">
            Edit
        </a>

        <a href="{{ url_for('workout.delete_workout', workout_id=workout.id) }}"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Are you sure you want to delete this workout?');">
    Delete
</a>
    </td>
</tr>

    {% endfor %}

    </tbody>

</table>

{% else %}

<p>No workouts yet.</p>

{% endif %}

{% endblock %}