<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitness Journal{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">Fitness Journal</a>

        <div class="navbar-nav">
            

    <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>

    {% if session.get("user_id") %}

        <a class="nav-link" href="{{ url_for('workout.workouts') }}">
    Workouts
</a>

        <a class="nav-link" href="{{ url_for('auth.logout') }}">
            Logout
        </a>

    {% else %}

        <a class="nav-link" href="{{ url_for('auth.login') }}">
            Login
        </a>

        <a class="nav-link" href="{{ url_for('auth.register') }}">
            Register
        </a>

    {% endif %}

</div>
        </div>

    </div>
</nav>

<div class="container mt-4">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    {% block content %}
    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>