{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>My Workouts</h2>

<a href="{{ url_for('workouts.add_workout') }}"
class="btn btn-success mb-3">
    Add Workout
</a>

{% if workouts %}

<table class="table table-striped">

    <thead>
        <tr>
            <th>Date</th>
            <th>Duration</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    {% for workout in workouts %}

        <tr>

            <td>{{ workout.date }}</td>

            <td>{{ workout.duration_min }} min</td>

            <td>{{ workout.notes }}</td>

            <td>

                <a href="{{ url_for('workouts.edit_workout', workout_id=workout.id) }}"
                class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{{ url_for('workouts.delete_workout', workout_id=workout.id) }}"
                class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% else %}

<p>No workouts yet.</p>

{% endif %}

{% endblock %}